{% extends 'base.html' %}
{% block content %}
    <!-- Header -->
    <header>
        <div class="container" id="div1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Cult Movies Blog</span>
                        <span class="skills"></span>
   <img alt="" style="width: 259px; height: 156px; margin-top: 0px; margin-left: 0px;"
        class="" src="https://tse2.mm.bing.net/th?id=OIP.M960783d98098f3ba4803eaf784792146o0&amp;pid=15.1&amp;P=0
        &amp;w=259&amp;h=156" id="yui_3_5_1_1_1479912035238_663">
   <img alt="" style="width: 183.4px; height: 183.4px; margin-top: 0px; margin-left: 0px;" class=""
          src="https://tse1.mm.bing.net/th?id=OIP.M97f40d783f53be2bb81e0767af143565o0&amp;
          pid=15.1&amp;P=0&amp;w=300&amp;h=300" id="yui_3_5_1_1_1479915679549_1663">
   <img alt="" style="width: 259px; height: 156px; margin-top: 0px; margin-left: 0px;"
        class="" src="https://tse2.mm.bing.net/th?id=OIP.M960783d98098f3ba4803eaf784792146o0&amp;pid=15.1&amp;P=0
       &amp;w=259&amp;h=156" id="yui_3_5_1_1_1479912035238_663">
       </div>
            </div>
            </div>
        </div>
    </header>

    <!-- Movie Database section -->
    <section id="portfolio div2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" id="database">
                 <a href="{% url 'movies_database' %}"><h2 class="data">Movies Database</h2></a>
                    <img alt="" style="width: 174px; height: 153px; margin-top: 1px; margin-left: 0px;"
                         class="" src="https://tse2.mm.bing.net/th?id=OIP.Mf579d531390fa2989754a1094071dbc3o0&amp;
                         pid=15.1&amp;P=0&amp;w=174&amp;h=153" id="yui_3_5_1_1_1479736358838_1571">
                    <img alt="" style="width: 253px; height: 154px; margin-top: 0px; margin-left: 0px;" class=""
                         src="https://tse4.mm.bing.net/th?id=OIP.Md575da0b4bb02c82b14f58759facb83fH0&amp;pid=15.1&amp;P=0&amp;
                         w=253&amp;h=154" id="yui_3_5_1_1_1479917441519_1529">
                    <img alt="" style="width: 253px; height: 154px; margin-top: 0px; margin-left: 0px;" class=""
                         src="https://tse4.mm.bing.net/th?id=OIP.Md575da0b4bb02c82b14f58759facb83fH0&amp;pid=15.1&amp;P=0&amp;
                         w=253&amp;h=154" id="yui_3_5_1_1_1479917441519_1529">
                    <img alt="" style="width: 174px; height: 153px; margin-top: 1px; margin-left: 0px;"
                         class="" src="https://tse2.mm.bing.net/th?id=OIP.Mf579d531390fa2989754a1094071dbc3o0&amp;
                         pid=15.1&amp;P=0&amp;w=174&amp;h=153" id="yui_3_5_1_1_1479736358838_1571">
                   </div>
            </div>

        </div>
    </section>

    <!-- The Blog Section -->
    <section class="success" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" id="blogtext">
                    <a href="../../blog/templates/blogpostform.html"><h2 class="white"></h2></a>
                    <a href="{% url 'blog' %}"><h2 class="data" id="blog">The Blog</h2></a>
   <img alt="" style="width: 223px; height: 168px; margin-top: 0px; margin-left: 0px;"
        class="" src="https://tse3.mm.bing.net/th?id=OIP.M3a3cc67aefd2c30ae1290d45031c4c00o0&amp;pid=15.1&amp;
        P=0&amp;w=223&amp;h=168" id="yui_3_5_1_1_1479912256525_1244">
    <img alt="" style="width: 211px; height: 159px; margin-top: 0px; margin-left: 0px;
      " class="" src="https://tse2.mm.bing.net/th?id=OIP.M0fce9b35aae030bcb55a5506919f3cf1o0&amp;pid=15.1&amp;
        P=0&amp;w=211&amp;h=159" id="yui_3_5_1_1_1479912300513_1472">
      <img alt="" style="width: 210px; height: 159px; margin-top: 0px; margin-left: 0px;
     " class="" src="https://tse2.mm.bing.net/th?id=OIP.M7dda20eaa272327baa14dc87f5a6cc0eo0&amp;pid=15.1&amp;P=0&amp;
       w=210&amp;h=159" id="yui_3_5_1_1_1479912847307_673">
      <img alt="" style="width: 280px; height: 158px; margin-top: 0px; margin-left: 0px;
        " class="" src="https://tse3.mm.bing.net/th?id=OIP.M2e2eb67923304711c1802d3d6bd59780o0&amp;pid=15.1&amp;P=0&amp;
        w=280&amp;h=158" id="yui_3_5_1_1_1479913198350_1462">
      <img alt="" style="width: 211px; height: 159px; margin-top: 0px; margin-left: 0px;" class=""
             src="https://tse2.mm.bing.net/th?id=OIP.Mf8b31175c4dd415fd584ed597403b90eo0&amp;pid=15.1&amp;
             P=0&amp;w=211&amp;h=159" id="yui_3_5_1_1_1479913391071_660">
     <img alt="" style="width: 271px; height: 153px; margin-top: 0px; margin-left: 0px;" class=""
          src="https://tse2.mm.bing.net/th?id=OIP.Mfbcecd39a20edd3f8f4ba5aa6e570bbco0&amp;pid=15.1&amp;
          P=0&amp;w=271&amp;h=153" id="yui_3_5_1_1_1479913706220_980">
     <img alt="" style="width: 279px; height: 157px; margin-top: 0px; margin-left: 0px;" class=""
          src="https://tse1.mm.bing.net/th?id=OIP.M9fb8912e6c48b8dda19a88e64ba7bc12H0&amp;pid=15.1&amp;P=0&amp;
          w=279&amp;h=157" id="yui_3_5_1_1_1479984991500_1111">
     <img alt="" style="width: 286px; height: 162px; margin-top: 0px; margin-left: 0px;" class=""
          src="https://tse4.mm.bing.net/th?id=OIP.M8fbbe0b844cb2a10bb420ab000d066aeo0&amp;pid=15.1&amp;P=0&amp;
          w=286&amp;h=162" id="yui_3_5_1_1_1480002671161_13845">
            </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  </div>
                <div class="col-lg-4">
                   </div>
                  </div>
        </div>
    </section>

    <!-- The Store Section -->
    <section class="success" id="store">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" id="storetext">
                 <a href="{% url 'product' %}"><h2 class="data">The Store</h2></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  </div>
                <div class="col-lg-4">
                   </div>
                  </div>
        </div>
    <img alt="" style="width: 175px; height: 174px; margin-top: 0px; margin-left: 0px;"
     class="" src="https://tse4.mm.bing.net/th?id=OIP.Md29bd63652f3493c978758e8e2cf66deH0
&amp;pid=15.1&amp;P=0&amp;w=175&amp;h=174" id="yui_3_5_1_1_1479473157297_1371">


    <img alt="" style="width: 319px; height: 178px; margin-top: 0px;
    margin-left: 0px;" class="" src="https://tse4.mm.bing.net/th?id=OIP.M9da51c5070cdd7edc1452f21cd837710H0&amp;
    pid=15.1&amp;P=0&amp;w=319&amp;h=178" id="yui_3_5_1_1_1479473253983_1554">

    <img alt="" style="width: 172.5px; height: 172.5px; margin-top: 0px; margin-left: 0px;"
         class="" src="https://tse4.mm.bing.net/th?id=OIP.M91431bcf688a7c022374245e94ed73a9H0
&amp;pid=15.1&amp;P=0amp;w=300&amp;h=300" id="yui_3_5_1_1_1479478087725_722">

    <img alt="" style="width: 172.5px; height: 172.5px; margin-top: 0px; margin-left: 0px;"
         class="" src="https://tse4.mm.bing.net/th?id=OIP.M91431bcf688a7c022374245e94ed73a9H0
&amp;pid=15.1&amp;P=0amp;w=300&amp;h=300" id="yui_3_5_1_1_1479478087725_722">

    <img alt="" style="width: 319px; height: 178px; margin-top: 0px;
    margin-left: 0px;" class="" src="https://tse4.mm.bing.net/th?id=OIP.M9da51c5070cdd7edc1452f21cd837710H0&amp;
    pid=15.1&amp;P=0&amp;w=319&amp;h=178" id="yui_3_5_1_1_1479473253983_1554">

   <img alt="" style="width: 175px; height: 174px; margin-top: 0px; margin-left: 0px;"
     class="" src="https://tse4.mm.bing.net/th?id=OIP.Md29bd63652f3493c978758e8e2cf66deH0
&amp;pid=15.1&amp;P=0&amp;w=175&amp;h=174" id="yui_3_5_1_1_1479473157297_1371">
    </section>


{% endblock %}