{% extends "base.html" %}

{% block content %}

<h1>Movies Database</h1>
<table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Running Time</th>
                <th>Director</th>

            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.genre }}</td>
                    <td>{{ movie.running_time }}</td>
                    <td>{{ movie.director }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
